[user]
	name = Taylor Jones
	email = 9523996+TaylorJonesTRT@users.noreply.github.com
[core]
	excludesfile = /Users/taylorjones/.gitignore_global
	autocrlf = false
[color]
	ui = auto
[init]
	defaultBranch = main
[pull]
	rebase = false
